# Test Report

## Testing performed

Regarding the testing of the program, it is difficult to determine much testing criteria. This is because there are not many parts of it that should provide a specific outcome

### Criteria 1: Mean Calculations for modules

One of the tasks necessary was to calculate the mean average of entries for each module in the csv file. This could be easily tested due to the feature in Microsoft Excel that uses a function to calculate the mean of data in one column.

#### Test 1: CE101-4-FY

##### Expected Result

56

##### Actual Result

![Mean for ce101-4-fy](testing_images/ce101-mean.png)

#### Test 2: 
